/* AM: I left some comments in here before I realized `test.css` is the active stylesheet. */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
body {
  font-family: Droid Sans;
}
/*.container {
  /*width: 100px;
  height: 100px;*/
  /* AM: These properties are going to cause some problems if they're left hanging here in this incomplete selector. */
  /*position: relative;
  perspective: 800px;*/
}*/
#main {
  min-height: 600px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row;
  border: 1px solid black;
}
#main > .pix {
  margin: 4px;
  padding: 5px;
  flex: 3 1 50%;
  margin: 10px;
  order: 2;
  border: 1px solid green;
}
#main > .buttons {
  margin: 4px;
  padding: 5px;
  flex: 2 1 20%;
  order: 3;
  border: 1px solid blue;
  text-align: center;
}
/* AM: In response to your question, when creating main sections of the page -- in this page left, center and right -- I find it help to give them widths based on percentage. */
/* AM: So in the case that you want `center` to take up most of the page, you could set right, center and left to 10%, 80% and 10% respectively. Or something along those lines. */
#main > .left {
  margin: 4px;
  padding: 5px;
  flex: 1 1 15%;
  order: 1;
  border: 1px solid red;
}
#main > .right {
  margin: 4px;
  padding: 5px;
  flex: 1 1 15%;
  order: 4;
  border: 1px solid red;
  text-align: center;
}
.pix .flexpixcontainer {
  display: flex;
  width: 550px;
  height: 550px;
  background-color: lightgray;
  flex-flow: row wrap;
}
.pix .flexpixitem {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid red;
  background-color: blue;
}
.px .flexpixitem :hover {
  cursor: pointer; cursor: hand;
}
#reset {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  border-radius: 25px;
  text-transform: uppercase;
  display: none;
}
/* AM: I would remove commented-out code from your final submission. If you want to keep it, consider placing it in a separate branch. */
/*#start :hover {
cursor: pointer; cursor: hand;
}*/
#timer {
  margin-top: 30px;
  margin-bottom: 30px;
  color: red;
  text-align: center;
  font-size: 30px;
  border: none;
  display: block;
  text-decoration: none;
}
